<!DOCTYPE html>
<html>
  <head>
    <title>StyleBags App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- SCRIPTS -->
    <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
    <script src="/javascripts/main.js" type="text/javascript" charset="utf-8" async defer></script>
  </head>
  <body>
    <header>
      <h1>StyleBags</h1>
      <ul>
        <li>Sign Up</li>
        <li>Sign In with Facebook</li>
      </ul>
    </header>
    <section id="landing">
      <p>Info about how the app works</p>
      <button id="start">START</button>
      <a href="https://www.googleapis.com/webfonts/v1/webfonts?key="></a>
    </section>

    <section id="generator">
      <div id="colors">
        <div id="color-generator">
          <div class="color-swatch" id="color1">
            <p>test</p>
          </div>
          <div class="color-swatch" id="color2">
            <p>test</p>
          </div>
          <div class="color-swatch" id="color3">
            <p>test</p>
          </div>
          <div class="color-swatch" id="color4">
            <p>test</p>
          </div>
          <div class="color-swatch" id="color5">
            <p>test</p>
          </div>
          <div class="color-swatch" id="color6">
            <p>test</p>
          </div>
        </div>
        <div id="gallery">
        </div>
      </div>
      <div id="fonts">
      </div>
    </section>

  </body>
</html>
