<!DOCTYPE html>
<html>
  <head>
    <title>StyleBags App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section id="landing">
      <h1>StyleBags</h1>
      <p>Info about how the app works</p>
      <button id="start">START</button>
      <a href="https://www.googleapis.com/webfonts/v1/webfonts?key="></a>
    </section>

    <section id="generator">
      <div id="colors">
        <div id="color-generator">
        </div>
        <div id="gallery">
        </div>
      </div>
      <div id="fonts">
      </div>
    </section>

  </body>
</html>
