$off-white: #e7e7e7;
$off-black: #1e1e1e;
$dark-grey: #272826;

$blue: #3163ac;
$green: #00a376;
$yellow: #f4b800;

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  color: $off-white;
  background-color: $dark-grey;
  font: 1.8em "Lucida Grande", Helvetica, Arial, sans-serif;
}

p {
  line-height: 1.5em;
}

#border {
  border-bottom: 10px solid $blue;
}

#color-ammt {
  border-radius: 5px;
  font-size: .8em;
  color: $green;
  border: 1px solid $off-white;
  background: $off-black;

  &:hover {
    color: $off-black;
    background: $green;
  }
}

#color-generator .switch, #gallery .switch {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid $off-white;
  background: $off-black;
  color: $yellow;
  font-size: .9em;
  margin-bottom: 20px;
  text-transform: uppercase;

  &:hover {
    background: $yellow;
    color: $off-black;
  }
}

#randomize {
  text-transform: uppercase;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid $off-white;
  background: $off-black;
  color: $yellow;
  font-size: .9em;
  float: right;
  margin-top: 20px;

  &:hover {
    background: $yellow;
    color: $off-black;
  }
}

header {
  background-color: $dark-grey;
  border-bottom: 10px solid $green;
  color: $off-white;
  margin-bottom: 8px;
  padding: 10px 0 10px 0;

  button, button h2 {
    float: right;
    margin: 0 5px;
  }

  #logo {
    float: left;

    &:hover {
      cursor: pointer;

      span {
        color:$blue;
        border-color: $green;
      }
    }

    img {
      display: inline-block;
      height: 100px;
      width: auto;
    }
    span {
      font-size: 2.7em;
      color: $green;
      display: inline-block;
      text-shadow: 1px 1px 2px black;
      text-shadow: 2px 2px 3px black;
      border-bottom: 15px dotted $blue;
      font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
      font-style: italic;
      font-weight: bold;
    }
  }

  ul {
    float: left;

    li{
      display: inline;
    }

  }

  #bags {
    color: $off-white;
    border: 3px dashed $yellow;
    text-shadow: 2px 2px 3px black;
    background-color: $off-black;
    border-radius: 10px;
    font-size: .7em;
    padding: 4px 8px;
    position: absolute;
    top: 120px;
    right: 30px;

    &:hover {
      background-color: $dark-grey;
    }
  }
}

#colorBagName {
  border-radius: 5px 0 0 5px;
  color: $blue;
  font-size: .9em;
  text-shadow: 1px 1px 2px black;
  padding: 5px;
  border: 1px solid $off-white;
  background-color: $off-black;
}

#saveColorBag {
  border: 1px solid $off-white;
  padding: 3px;
  color: $green;
  background-color: $off-black;
  border-radius: 0 5px 5px 0;

  &:hover {
    color: $off-black;
    background-color: $green;
  }
}

.container, .container-fluid:not(:first-of-type) {
  padding: 10px 25px 0px;
  background-color: $off-black;
}

#landing {
  margin-top: 30px;
  border-radius: 10px;
  color: $off-white;
  h1 {
    color: $yellow;
  }

  h2, b {
    color: $blue;
  }
  #start {
    color: $off-white;
    background-color: $green;
    text-shadow: 1px 1px 2px $off-black;
    padding: 15px 25px;
    margin: 20px 0;
    border-radius: 20px;

    &:hover {
      background-color: $yellow;
    }
  }
}

.fblogin {
  margin: 30px auto 15px;
  width: 150px;
  height: auto;
}

.hidden {
  display: none;
}

aside {
  position: relative;
  //padding on #generator
  top: -25px;
  left: 10px;
  //height set in jQuery
  padding-top: 10px;
  background-color: $dark-grey;
  border-left: 2px dotted $green;
  box-shadow: -1px 0 10px black;
  overflow: scroll;
  margin-bottom: -25px;

  h4 {
    padding-bottom: 10px;
    text-shadow: 1px 1px 1px black;
    text-shadow: 1px 1px 4px $blue;

    span {
      text-shadow: none;
      position: relative;
      top: -2px;
      text-shadow: 1px 1px 1px black;
      margin-left: 10px;
      color: $green;
      font-size: .6em;

      &:hover {
        cursor: pointer;
        color: $blue;
      }
    }
  }

  p {
    font-size: 1.1em;
    line-height: 1.6em;
    margin-top: 15px;
  }

  h3 {
    font-size: 1.2em;
  }

  // loading text
  .loading {
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  }
}

#colorBag {
  float: right;
}

#color-number {
  width: 40px;
}

#color-number, #color-ammt, label[for=color-number] {
  display: inline-block;
}

div[id^="colorbag"] {
  position: relative;
  width: 100%;

  button:first-of-type {
    padding: 3px 4px;
    position: absolute;
    right: 25px;
    top: -5px;
    border-radius: 3px;
    color: $yellow;
    background-color: $dark-grey;
    border: 1px solid $off-white;
    font-size: .7em;
    margin-right: 4px;

    &:hover {
      color: $dark-grey;
      background-color: $yellow;
    }
  }

  button:last-of-type {
    padding: 3px 7px;
    position: absolute;
    right: 0;
    top: -5px;
    color: red;
    border-radius: 3px;
    background-color: $dark-grey;
    border: 1px solid $off-white;
    font-size: .7em;

    &:hover {
      color: $dark-grey;
      background-color: red;
    }
  }

  div[id^="rgb"] {
    display: inline-block;
    height: 25px;
    margin-bottom: -5px;
    //width set in jQuery;
  }
}

div[id^="savedFont"] {
  position: relative;

  button {
    position: absolute;
    right: 0;
    top: 0;
    color: red;
    border-radius: 3px;
    background-color: $dark-grey;
    border: 1px solid $off-white;
    font-size: .7em;

    &:hover {
      color: $dark-grey;
      background-color: red;
    }
  }
}

#generator {
  padding: 25px 25px 0 25px;
  display: none;
}
.color-swatch{
  width: 100%;
  //height set in jQuery
  min-height: 30px;
  margin: 0;
}

#swatches {
  margin-bottom: 20px;
}

#fonts {
  font-size: 1.3em;

  h1 {
    color: $yellow;
  }

  form {
    float: right;
    border: 1px solid $off-white;
    color: $off-white;
    border-radius: 5px;
    position: relative;
    left: -10%;

    .saveFont {
      background: $dark-grey;
    }
  }

  article:not(:last-child) {
    margin-bottom: 40px;
  }
}
