
html, body {
  height: 100%;
  min-height: 100%;
}
body {
  font: 1.6em "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
  background-color: rgb(30,30,30);
  color: rgb(230,230,230);

  #myBags {
    float: right;
    background: black;
    color: turquoise;
  }
}

#fblogin {
  width: 150px;
  height: auto;
}

#gallery {
  display: none;
}

.hidden {
  display: none;
}

aside {
  position: relative;
  //padding on #generator
  top: -25px;
  left: 10px;
  //height set in jQuery
  background-color: turquoise;
}

#landing {
  background: #39A2AE;

}
#generator {
  background: #CC998D;
  padding: 25px;
  display: none;
}
.color-swatch{
  width: 100%;
  //height set in jQuery
  margin: 0;
}

a {
  color: #00B7FF;
}

#fonts {
  font-size: 1.2em;

  article:not(:last-child) {
    margin-bottom: 60px;
  }
}
