
$light-grey: #2C292D;
$grey: #272826;
$dark-grey: #232323;
$off-white: #E5FFF9;
$mint: #2dffce;

//not used (yet)
$dark-mint: #198E73;
$light-mint: #73e2c9;
$light-purple: #E5BAFF;

html, body {
  height: 100%;
  min-height: 100%;
}
body {
  color: $off-white;
  background-color: $grey;
  font: 1.6em "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
  background-color: $dark-purple;
  border-bottom: 20px double $mint;
  color: $off-white;

  h1 {
    color: $mint;
  }

  #myBags {
    float: right;
      color: $off-white;
      background-color: $dark-purple;
      border-radius: 10px;
      padding: 4px 8px;
      margin-bottom: 5px;
  }
}

.container, .container-fluid:not(:first-of-type) {
  background-color: $dark-grey;
}

#landing {
  margin-top: 50px;
  color: $off-white;
  h1 {
    color: $mint;
  }
  #start {
    color: $off-white;
    background-color: $dark-purple;
    padding: 15px 25px;
    margin: 50px 0;
    border-radius: 20px;
  }
}

#fblogin {
  width: 150px;
  height: auto;
}

#gallery {
  display: none;
}

.hidden {
  display: none;
}

aside {
  position: relative;
  //padding on #generator
  top: -25px;
  left: 10px;
  //height set in jQuery
  padding-top: 20px;
  background-color: $dark-purple;
  border-left: 2px dotted $mint;
  box-shadow: -1px 0 10px black;
}

#generator {
  padding: 25px;
  display: none;
}
.color-swatch{
  width: 100%;
  //height set in jQuery
  margin: 0;
}

a {
  color: $mint;
}

#fonts {
  font-size: 1.3em;

  h1 {
    color: $mint;
  }

  article:not(:last-child) {
    margin-bottom: 60px;
  }
}
