html, body {
  height: 100%;
  min-height: 100%; }

body {
  color: #e7e7e7;
  background-color: #272826;
  font: 1.8em "Lucida Grande", Helvetica, Arial, sans-serif; }

p {
  line-height: 1.5em; }

#border {
  border-bottom: 10px solid #3163ac; }

#color-ammt {
  border-radius: 5px;
  font-size: .8em;
  color: #00a376;
  border: 1px solid #e7e7e7;
  background: #1e1e1e; }
  #color-ammt:hover {
    color: #1e1e1e;
    background: #00a376; }

#color-generator .switch, #gallery .switch {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #e7e7e7;
  background: #1e1e1e;
  color: #f4b800;
  font-size: .9em;
  margin-bottom: 20px;
  text-transform: uppercase; }
  #color-generator .switch:hover, #gallery .switch:hover {
    background: #f4b800;
    color: #1e1e1e; }

#randomize {
  text-transform: uppercase;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #e7e7e7;
  background: #1e1e1e;
  color: #f4b800;
  font-size: .9em;
  float: right;
  margin-top: 20px; }
  #randomize:hover {
    background: #f4b800;
    color: #1e1e1e; }

header {
  background-color: #272826;
  border-bottom: 10px solid #00a376;
  color: #e7e7e7;
  margin-bottom: 8px;
  padding: 10px 0 10px 0; }
  header button, header button h2 {
    float: right;
    margin: 0 5px; }
  header #logo {
    float: left; }
    header #logo:hover {
      cursor: pointer; }
      header #logo:hover span {
        color: #3163ac;
        border-color: #00a376; }
    header #logo img {
      display: inline-block;
      height: 100px;
      width: auto; }
    header #logo span {
      font-size: 2.7em;
      color: #00a376;
      display: inline-block;
      text-shadow: 1px 1px 2px black;
      text-shadow: 2px 2px 3px black;
      border-bottom: 15px dotted #3163ac;
      font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
      font-style: italic;
      font-weight: bold; }
  header ul {
    float: left; }
    header ul li {
      display: inline; }
  header #bags {
    color: #e7e7e7;
    border: 3px dashed #f4b800;
    text-shadow: 2px 2px 3px black;
    background-color: #1e1e1e;
    border-radius: 10px;
    font-size: .7em;
    padding: 4px 8px;
    position: absolute;
    top: 120px;
    right: 30px; }
    header #bags:hover {
      background-color: #272826; }

#colorBagName {
  border-radius: 5px 0 0 5px;
  color: #3163ac;
  font-size: .9em;
  text-shadow: 1px 1px 2px black;
  padding: 5px;
  border: 1px solid #e7e7e7;
  background-color: #1e1e1e; }

#saveColorBag {
  border: 1px solid #e7e7e7;
  padding: 3px;
  color: #00a376;
  background-color: #1e1e1e;
  border-radius: 0 5px 5px 0; }
  #saveColorBag:hover {
    color: #1e1e1e;
    background-color: #00a376; }

.container, .container-fluid:not(:first-of-type) {
  padding: 10px 25px 0px;
  background-color: #1e1e1e; }

#landing {
  margin-top: 30px;
  border-radius: 10px;
  color: #e7e7e7; }
  #landing h1 {
    color: #f4b800; }
  #landing h2, #landing b {
    color: #3163ac; }
  #landing #start {
    color: #e7e7e7;
    background-color: #00a376;
    text-shadow: 1px 1px 2px #1e1e1e;
    padding: 15px 25px;
    margin: 20px 0;
    border-radius: 20px; }
    #landing #start:hover {
      background-color: #f4b800; }

.fblogin {
  margin: 30px auto 15px;
  width: 150px;
  height: auto; }

.hidden {
  display: none; }

aside {
  position: relative;
  top: -25px;
  border: 2px dotted #00a376;
  border-top: none;
  border-radius: 0px 0px 25px 25px;
  padding-top: 10px;
  background-color: #272826;
  overflow: scroll; }
  aside h4 {
    padding-bottom: 10px;
    text-shadow: 1px 1px 1px black;
    text-shadow: 1px 1px 4px #3163ac; }
    aside h4 span {
      text-shadow: none;
      position: relative;
      top: -2px;
      text-shadow: 1px 1px 1px black;
      margin-left: 10px;
      color: #00a376;
      font-size: .6em; }
      aside h4 span:hover {
        cursor: pointer;
        color: #3163ac; }
  aside p {
    font-size: 1.1em;
    line-height: 1.6em;
    margin-top: 15px; }
  aside h3 {
    font-size: 1.2em; }
  aside .loading {
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace; }

#colorBag {
  float: right; }

#color-number {
  width: 40px; }

#color-number, #color-ammt, label[for=color-number] {
  display: inline-block; }

div[id^="colorbag"] {
  position: relative;
  width: 100%; }
  div[id^="colorbag"] button:first-of-type {
    padding: 3px 4px;
    position: absolute;
    right: 25px;
    top: -5px;
    border-radius: 3px;
    color: #f4b800;
    background-color: #272826;
    border: 1px solid #e7e7e7;
    font-size: .7em;
    margin-right: 4px; }
    div[id^="colorbag"] button:first-of-type:hover {
      color: #272826;
      background-color: #f4b800; }
  div[id^="colorbag"] button:last-of-type {
    padding: 3px 7px;
    position: absolute;
    right: 0;
    top: -5px;
    color: red;
    border-radius: 3px;
    background-color: #272826;
    border: 1px solid #e7e7e7;
    font-size: .7em; }
    div[id^="colorbag"] button:last-of-type:hover {
      color: #272826;
      background-color: red; }
  div[id^="colorbag"] div[id^="rgb"] {
    display: inline-block;
    height: 25px;
    margin-bottom: -5px; }

div[id^="savedFont"] {
  position: relative; }
  div[id^="savedFont"] button {
    position: absolute;
    right: 0;
    top: 0;
    color: red;
    border-radius: 3px;
    background-color: #272826;
    border: 1px solid #e7e7e7;
    font-size: .7em; }
    div[id^="savedFont"] button:hover {
      color: #272826;
      background-color: red; }

#generator {
  padding: 25px 25px 0 25px;
  display: none; }

.color-swatch {
  width: 100%;
  min-height: 30px;
  margin: 0; }

#swatches {
  margin-bottom: 20px; }

#fonts {
  font-size: 1.3em; }
  #fonts h1 {
    color: #f4b800; }
  #fonts form {
    float: right;
    border: 1px solid #e7e7e7;
    color: #e7e7e7;
    border-radius: 5px;
    position: relative;
    left: -10%; }
    #fonts form .saveFont {
      background: #272826; }
  #fonts article:not(:last-child) {
    margin-bottom: 40px; }

@media (min-width: 992px) {
  aside {
    border-radius: 0;
    right: 0;
    border-bottom: none;
    border-left: 1px dotted #00a376;
    border-right: 1px dotted #00a376;
    box-shadow: -1px 0 10px black;
    margin-bottom: -25px; } }

/*# sourceMappingURL=style.css.map */
