
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
  background-color: rgb(30,30,30);
  color: rgb(230,230,230);
}

#gallery {
  display: none;
}

#landing {
  background: #39A2AE;

}
#generator {
  background: #CC998D;
  padding: 25px;
  display: none;
}
  .color-swatch{
    width: 100%;
    margin: 0;
  }
  #color1{
    background-color: rgb(200,200,200);
  }
  #color2{
    background-color: rgb(117,98,230);
  }
  #color3{
    background-color: rgb(98,117,230);
  }
  #color4{
    background-color: rgb(230,98,117);
  }
  #color5{
    background-color: rgb(98,117,230);
  }
  #color6{
    background-color: rgb(98,98,117);
  }
a {
  color: #00B7FF;
}
